<div class="container">
    <div *ngIf="mostrar == true">
        <table>
            <tr *ngFor="let empleado of tablaSueldos">
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.monto}}</td>
            </tr>
        </table>
    </div>
    <div class="container">
        <div *ngIf="mostrar == false">
            <h1>No hay datos</h1>
        </div>
        <button *ngIf="mostrar == false" (click)="showData()">Mostrar sueldos</button>
        <button *ngIf="mostrar == true" (click)="hideData()">Ocultar sueldos</button>
    </div>
    <div class="container">

    </div>
    <div class="container">
        <h3>No hubo manera de usar Angular Material para este ejercicio. Lo intenté por un buen rato</h3>
    </div>